Repository softdevnf/azure-devops-migration-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mrhinsh, @ovebastiansen, docs@example.com

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# General Owners [Martin Hinshelwood]
*       @mrhinsh

# The Hosting System [Ove Bastiansen]
src/MigrationTools.Host/* @ovebastiansen
src/MigrationTools.Host.Tests/* @ovebastiansen
src/MigrationTools/*HostedService.cs @ovebastiansen

# You can also use email addresses if you prefer.
docs/*  docs@example.com

#1064 Fix "condition is always true" (#1067)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Fixes InvalidOperationException in TfsWorkItemLinkEnricher.CreateHyperlink(...)'s .SingleOrDefault() usage (#1081)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
Owners: @mrhinsh

some minor changes to layout (#1084)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemQuery.cs
Owners: @mrhinsh

Code cleanup, trying to limit the usage of IServiceProvider, and minor fixes to v2 (#1093)
  configuration2.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsSharedQueryProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemQuery.cs
  src/MigrationTools.Clients.FileSystem/Endpoints/FileSystemWorkItemQuery.cs
  src/MigrationTools.Integration.Tests/ServiceProviderHelper.cs
  src/MigrationTools/Endpoints/IWorkItemQuery.cs
  src/MigrationTools/Options/QueryOptions.cs
  src/MigrationTools/Processors/Processor.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessor.cs
  src/MigrationTools/_EngineV1/Clients/IWorkItemQueryBuilder.cs
  src/MigrationTools/_EngineV1/Clients/IWorkItemQueryBuilderFactory.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemQueryBase.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemQueryBuilder.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemQueryBuilderFactory.cs
  src/MigrationTools/_EngineV1/Processors/StaticProcessorBase.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemPostProcessingContext.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/CreateTeamFolders.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemUpdateAreasAsTagsContext.cs
Owners: @mrhinsh

first version of a workflow for building in gh actions (#1095)
  .github/workflows/build.yml
  GitVersion2.yml
  MigrationTools.sln
Owners: @mrhinsh

Migrating a YAML pipeline should not throw exceptions (#1099)
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
Owners: @mrhinsh

Update default.md (#1121)
  .github/PULL_REQUEST_TEMPLATE/default.md
Owners: @mrhinsh

Additional bugs for Philips (#1122)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsAttachmentEnricher.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/TestPlansAndSuitesMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Enhancement to fix inline workitem/user mention links on HTML fields as well as Comments history (#1120)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemEmbededLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Fix for Inline Images In Comments (#1119)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsEmbededImagesEnricher.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Added Changeset Migration config line (#1106)
  docs/changeset-migration.md
Owners: docs@example.com

Update getting started documentation and other info (#1124)
  docs/Reference/Processors/index.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/server-configuration.md
Owners: @mrhinsh, docs@example.com

Minor fix to yesterday's PR #1120 (#1125)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemEmbededLinkEnricher.cs
Owners: @mrhinsh

WIQLQueryBit Area Path & Iteration Path replacing source project with target project fix (#1126)
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Delete obsolete processors from list (#1127)
  docs/Processors/WorkItemMigrationConfig.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
Owners: @mrhinsh, docs@example.com

minor code style changes (#1128)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemConvertor.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
Owners: @mrhinsh

major improvements to speed for delete workitems (#1129)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemQuery.cs
  src/MigrationTools.Clients.FileSystem/Endpoints/FileSystemWorkItemQuery.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientMock.cs
  src/MigrationTools/Endpoints/IWorkItemQuery.cs
  src/MigrationTools/_EngineV1/Clients/IWorkItemMigrationClient.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemMigrationClientBase.cs
  src/MigrationTools/_EngineV1/Clients/WorkItemQueryBase.cs
  src/VstsSyncMigrator.Core/Execution/ProcessingContext/WorkItemDelete.cs
Owners: @mrhinsh

Enhancement added to TfsTeamSettingsProcessor to migrate team capacities. (#1131)
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsTeamSettingsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
Owners: @mrhinsh

Update index.md (#1132)
  docs/index.md
Owners: docs@example.com

Update index.md (#1133)
  docs/index.md
Owners: docs@example.com

Fixed the images access problem for other users by adding a dummy workitem and adding/removing images to the dummy workitem. (#1130)
  docs/Processors/WorkItemMigrationConfig.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsEmbededImagesEnricher.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

adjusted naming from old VSTS to ADO, removed 404 link, removed copy/paste error (#1135)
  CONTRIBUTING.md
Owners: @mrhinsh

Cache previously uploaded images (#1144)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsEmbededImagesEnricher.cs
Owners: @mrhinsh

Update and improve getting started and server configuration documentation (#1146)
  docs/getting-started.md
  docs/server-configuration.md
Owners: docs@example.com

Update README.md (#1157)
  README.md
Owners: @mrhinsh

Adjustments to support Process Migration API changes (#1160)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools/DataContracts/Process/ProcessDefinition.cs
Owners: @mrhinsh

Adding properties for managing Queue and Agent identifier during pipeline migration (#1163)
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
Owners: @mrhinsh

Fix error with disabled nodestructure (#1142)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

added myself and fixed some links to be links (#1165)
  docs/index.md
Owners: docs@example.com

Create test if tester not found (#1171)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Fixed the issue with target query when PrefixProjectToNodes is enabled (#1188)
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Implement area and iteration remapping (#1175)
  docs/Processors/TestPlansAndSuitesMigrationConfig.md
  docs/Processors/WorkItemMigrationConfig.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/configuration.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructureOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessorOptions.cs
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/TestPlansAndSuitesMigrationConfig.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh, docs@example.com, @ovebastiansen

[feature] Get PAT from environment variables (#1176)
  docs/getting-started.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_EngineV1/Configuration/TfsTeamProjectConfig.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsMigrationClient.cs
Owners: docs@example.com, @mrhinsh

TeamSettings fix replacing the source project name with target project name so that it only replaces only the first occurance and not every occurance for the string (#1190)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
Owners: @mrhinsh

Ignore exception/warning from AzDO API on null date (#1197)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
Owners: @mrhinsh

Feature/continue on workitem errors (#1198)
  docs/Processors/WorkItemMigrationConfig.md
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Fixes #1199 (#1203)
  src/MigrationTools/DataContracts/Pipelines/ServiceConnection.cs
Owners: @mrhinsh

Create AzureDevOpsPipelineProcessorOptions.md (#1205)
  docs/Processors/AzureDevOpsPipelineProcessorOptions.md
Owners: @mrhinsh

Feature: support negative basepaths (#1206)
  docs/Processors/WorkItemMigrationConfig.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
Owners: @mrhinsh

Fixed missing service connection mapping (#1210)
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
Owners: @mrhinsh
