Repository softdevnf/azure-devops-migration-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mrhinsh, @ovebastiansen, docs@example.com

Updated all Package references and build. (#1220)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/CustomDiagnostics/CustomConverter.cs
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Tests/TestingConstants.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh, @ovebastiansen

Updated default query to exclude other types... (#1221)
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
Owners: @mrhinsh

Added extra logging on the "CreatedBy" update to try and debug missing issues. (#1229)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

adding a simple logstatement to show when a workitem has changed type (#1233)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Updated linkes to remove Stack and replace with Github discussions. (#1248)
  README.md
  docs/index.md
  src/MigrationTools.Extension/README.md
Owners: @mrhinsh, docs@example.com

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# General Owners [Martin Hinshelwood]
*       @mrhinsh

# The Hosting System [Ove Bastiansen]
src/MigrationTools.Host/* @ovebastiansen
src/MigrationTools.Host.Tests/* @ovebastiansen
src/MigrationTools/*HostedService.cs @ovebastiansen

# You can also use email addresses if you prefer.
docs/*  docs@example.com
