Repository softdevnf/azure-devops-migration-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mrhinsh, @ovebastiansen, docs@example.com

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# General Owners [Martin Hinshelwood]
*       @mrhinsh

# The Hosting System [Ove Bastiansen]
src/MigrationTools.Host/* @ovebastiansen
src/MigrationTools.Host.Tests/* @ovebastiansen
src/MigrationTools/*HostedService.cs @ovebastiansen

# You can also use email addresses if you prefer.
docs/*  docs@example.com

Updated PAT (#895)
  src/MigrationTools/Tests/TestingConstants.cs
Owners: @mrhinsh

Several fixes to the Pipeline Processor (again😄) (#896)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
Owners: @mrhinsh

Repair sId <-> tId mapping (#897)
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ReleaseDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ServiceConnection.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
  src/MigrationTools/DataContracts/Pipelines/VariableGroups.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
Owners: @mrhinsh

Fix URI parsing (#900)
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
Owners: @mrhinsh

Updated ReflectedWorkItemID logic for TestPlandsAndSuitesMigration (#905)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsReflectedWorkItemId.cs
  src/MigrationTools/_EngineV1/Clients/ReflectedWorkItemId.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Fix typo (#909)
  docs/_config.yml
Owners: docs@example.com

Fix invalid link to git commit (#935) (#936)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsGitRepositoryInfo.cs
Owners: @mrhinsh

Update token (#946)
  src/MigrationTools/Tests/TestingConstants.cs
Owners: @mrhinsh

Added initial implementation of inheritance process model synchronizer (#918)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/ServiceCollectionExtensions.cs
  src/MigrationTools/DataContracts/ApiPathAttribute.cs
  src/MigrationTools/DataContracts/Process/ProcessDefinition.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
Owners: @mrhinsh

Create MigrationTools.dll Nuspec (#947)
  src/MigrationTools/MigrationTools.csproj
Owners: @mrhinsh

Update to write our log for plans that are skipped. (#948)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Update nuget package details (#949)
  src/MigrationTools/MigrationTools.csproj
Owners: @mrhinsh

Updating Docs (#950)
  MigrationTools.sln
  README.md
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.json
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.md
  docs/Reference/Processors/ProcessDefinitionProcessor-template.md
  docs/Reference/Processors/ProcessDefinitionProcessor.json
  docs/Reference/Processors/ProcessDefinitionProcessor.md
  docs/Reference/Processors/TfsAreaAndIterationProcessor.json
  docs/Reference/Processors/TfsAreaAndIterationProcessor.md
  docs/Reference/Processors/TfsSharedQueryProcessor.json
  docs/Reference/Processors/TfsSharedQueryProcessor.md
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  docs/Reference/Processors/WorkItemTrackingProcessor.json
  docs/Reference/Processors/WorkItemTrackingProcessor.md
  docs/index.md
  src/MigrationTools.ConsoleConfigGenerator/Program.cs
  src/MigrationTools.Extension/README.md
Owners: @mrhinsh, docs@example.com

Refactor/revision manager (#951)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManagerOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Doc/updatefor max revision (#952)
  GitVersion.yml
  README.md
Owners: @mrhinsh

Fix registered link type (#955)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
Owners: @mrhinsh

Revision manager tests (#956)
  MigrationTools.sln
  README.md
  docs/Processors/WorkItemMigrationConfig.md
  docs/Reference/ProcessorEnrichers/TfsRevisionManager.json
  docs/Reference/ProcessorEnrichers/TfsRevisionManager.md
  docs/configuration.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsRevisionManagerTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManagerOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools.Extension/README.md
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh, docs@example.com

Fix adds revsion number at time of migration to the file. Should then have more than one file.. (#959)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
Owners: @mrhinsh

This should fix #964
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
Owners: @mrhinsh

Feature/move link migration to abstract objects (#968)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/DataContracts/LinkItem.cs
  src/MigrationTools/DataContracts/WorkItemData.cs
Owners: @mrhinsh, @ovebastiansen

Fix repo mapping issue (#929)
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Pipelines/GitRepository.cs
Owners: @mrhinsh

#969 - A fix to FieldBlankMap to work with all types and avoid invalid value assignments. (#971)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/FieldMaps/FieldBlankMap.cs
Owners: @mrhinsh

Replace source project with target project when doing target filter w… (#983)
  src/VstsSyncMigrator.Core.Tests/WorkItemMigrationTests.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh

Allow to merge 3 instead of 2 fields into one. (#988)
  configuration.json
  docs/index.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/FieldMaps/FieldMergeMap.cs
  src/MigrationTools/_EngineV1/Configuration/FieldMap/FieldMergeMapConfig.cs
Owners: @mrhinsh, docs@example.com

add OnlyElementsUnderAreaPath to TestPlandAndSuites. Only migrate based on AreaPath, rather than tag. (#991)
  src/MigrationTools/_EngineV1/Configuration/Processing/TestPlansAndSuitesMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Was logging like this: (#999)
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Enable WorkItem to have all necessary internal data. (#1000)
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemConvertor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools/DataContracts/FieldItem.cs
  src/MigrationTools/DataContracts/LinkItem.cs
  src/MigrationTools/DataContracts/RevisionItem.cs
  src/MigrationTools/DataContracts/WorkItemData.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

log api response codes (#1002)
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
Owners: @mrhinsh

- Added NodeStructureEnricherEnabled to configuration (#1011)
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Fix node naming issues (#1012)
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
Owners: @mrhinsh

Bug/Field mapping issue (#1016)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/FieldMaps/FieldValueMap.cs
Owners: @mrhinsh

Bug/mapping issue (#1017)
  src/MigrationTools/_EngineV1/Containers/FieldMapContainer.cs
Owners: @mrhinsh

Bug/enable nodes defaults to false (#1015)
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Bug/base paths not working (#1014)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
Owners: @mrhinsh

Fix/test plans and suits requirement suit (#1028)
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.FileSystem/MigrationTools.Clients.FileSystem.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.Clients.InMemory/MigrationTools.Clients.InMemory.csproj
  src/MigrationTools.ConsoleConfigGenerator/MigrationTools.ConsoleConfigGenerator.csproj
  src/MigrationTools.ConsoleCore/MigrationTools.ConsoleCore.csproj
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh, @ovebastiansen

Bugfix: Not migrating discussions and Unable to migrate changed work item type with history (#1020)
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsNodeStructureTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/ProcessorEnrichers/TfsRevisionManagerTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemConvertor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManager.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsRevisionManagerOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools/DataContracts/FieldItem.cs
  src/MigrationTools/_EngineV1/Configuration/Processing/WorkItemMigrationConfig.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

A few tweaks to debugging and logging, and a made node path search case insensitive (#1037)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/FieldMaps/FieldBlankMap.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemQuery.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/ProcessDefinitionProcessor.cs
  src/MigrationTools/Endpoints/EndpointFactory.cs
  src/MigrationTools/Processors/Processor.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
Owners: @mrhinsh

Add RepositoryNameMaps to map to changed repos on target (#1001)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
Owners: @mrhinsh

Implement selecting build/release pipelines for migration (#1046)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsPipelineProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.TestExtensions/ServiceCollectionExtensions.cs
Owners: @mrhinsh

updated all nuget packages to latest version, mostly minor changes except for the microsoft extensions that bumped to 6 (#1066)
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh, @ovebastiansen
