Repository softdevnf/azure-devops-migration-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mrhinsh, @ovebastiansen, docs@example.com

Added Trace for list of sortedRevisions (#752)
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/TfsExtensions.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

Added `if (targetWorkItemLinkStart.Id == "0")` to Enricher rather than exception. (#755)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
Owners: @mrhinsh

That change makes the TfsTeamSettingsProcessor runnable (#758)
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
Owners: @mrhinsh

Fixed TfsSharedQueryProcessorOptions. It had the same Issue as TfsTeamSettingsProcessorOptions (#760)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
Owners: @mrhinsh

Fixed Processor Naming (#761)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessorOptions.cs
Owners: @mrhinsh

Moved ToConfigure to Base ProcessorOptions class (#762)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessorOptions.cs
  src/MigrationTools/Processors/ProcessorOptions.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessorOptions.cs
Owners: @mrhinsh

Added TfsNodeStructure Enricher (#763)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/ProcessorEnrichers/TfsNodeStructure.json
  docs/Reference/ProcessorEnrichers/TfsNodeStructure.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsNodeStructureOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsTeamSettingsProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh

AzureDevOpsPipelineProcessor (#767)
  MigrationTools.sln
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  docs/Reference/Generated/MigrationTools.xml
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsSharedQueryProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Processors/TfsTeamSettingsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsPipelineProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/Processors/AzureDevOpsProcessorTests.cs
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/ServiceProviderHelper.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpointOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.Rest/ServiceCollectionExtensions.cs
  src/MigrationTools.ConsoleFull/MigrationTools.ConsoleFull.csproj
  src/MigrationTools.ConsoleFull/Program.cs
  src/MigrationTools.Host.Tests/MigrationHostTests.cs
  src/MigrationTools.Integration.Tests/AzureDevOpsObjectModelTests.cs
  src/MigrationTools.Tests/Core/Clients/WorkItemMigrationClientTests.cs
  src/MigrationTools.Tests/Core/Configuration/EngineConfigurationBuilderTests.cs
  src/MigrationTools.Tests/Processors/WorkItemMigrationProcessorTests.cs
  src/MigrationTools/DataContracts/ApiPathAttribute.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ReleaseDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
  src/MigrationTools/EndPoints/AuthenticationMode.cs
Owners: @mrhinsh, @ovebastiansen

Added Processor Types of Integrated, AddHock, and Legacy (#775)
  src/MigrationTools.ConsoleConfigGenerator/Program.cs
  src/MigrationTools.Tests/Core/Engine/Containers/SimpleProcessorMock.cs
  src/MigrationTools/Processors/Processor.cs
  src/MigrationTools/Processors/WorkItemProcessor/WorkItemTrackingProcessor.cs
  src/MigrationTools/_EngineV1/Containers/IProcessor.cs
  src/MigrationTools/_EngineV1/Containers/ProcessorType.cs
  src/MigrationTools/_EngineV1/Processors/MigrationProcessorBase.cs
  src/MigrationTools/_EngineV1/Processors/StaticProcessorBase.cs
Owners: @mrhinsh

Feature/command line (#769)
  docs/Reference/Generated/VstsSyncMigrator.Core.xml
  src/MigrationTools.Host/CommandLine/ExecuteOptions.cs
  src/MigrationTools.Host/CommandLine/InitOptions.cs
  src/MigrationTools.Host/CommandLine/OptionsMode.cs
  src/MigrationTools.Host/ExecuteHostedService.cs
  src/MigrationTools.Host/HostExtensions.cs
  src/MigrationTools.Host/InitHostedService.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools/CommandLine/CommandBase.cs
  src/MigrationTools/CommandLine/OptionsBase.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Options/NetworkCredentialsOptions.cs
  src/MigrationTools/ServiceCollectionExtensions.cs
  src/MigrationTools/_EngineV1/CommandLine/ExportAzureADGroups/AzureAdGroupItem.cs
  src/MigrationTools/_EngineV1/CommandLine/ExportAzureADGroups/ExportADGroupsOptions.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
  src/VstsSyncMigrator.Core/AzureAD/AuthenticationHelper.cs
  src/VstsSyncMigrator.Core/AzureAD/Constants.cs
  src/VstsSyncMigrator.Core/Commands/ExportADGroupsCommand.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh, @ovebastiansen

Remove No AccessToken exeption when using Prompt Auth Mode (#777)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpoint.cs
Owners: @mrhinsh

Pipeline processor docs (#776)
  docs/Reference/Endpoints/AzureDevOpsEndpoint.json
  docs/Reference/Endpoints/AzureDevOpsEndpoint.md
  docs/Reference/Endpoints/index.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.json
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.md
  docs/Reference/Processors/index.md
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.ConsoleConfigGenerator/MigrationTools.ConsoleConfigGenerator.csproj
  src/MigrationTools.ConsoleConfigGenerator/Program.cs
Owners: @mrhinsh

Updated URL for Migration service (#781)
  README.md
  docs/index.md
  src/MigrationTools.Extension/README.md
Owners: @mrhinsh, docs@example.com

RemoveExtraQuery (#785)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
Owners: @mrhinsh

using the wrong base type for reflectedworkitemid and disabled the xml warnings for public types (#786)
  Directory.Build.props
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsReflectedWorkItemId.cs
  src/MigrationTools/_EngineV1/Clients/ReflectedWorkItemId.cs
Owners: @mrhinsh

Refactor/TfsAreaAndIterationProcessor (#787)
  docs/Reference/Endpoints/TfsEndpoint.json
  docs/Reference/Endpoints/TfsEndpoint.md
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.json
  docs/Reference/Endpoints/TfsTeamSettingsEndpoint.md
  docs/Reference/Endpoints/TfsWorkItemEndpoint.json
  docs/Reference/Endpoints/TfsWorkItemEndpoint.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.ObjectModel.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Processors/TfsAreaAndIterationProcessor.json
  docs/Reference/Processors/TfsAreaAndIterationProcessor.md
  docs/Reference/Processors/TfsSharedQueryProcessor.md
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
  docs/index.md
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsEndpointOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsLanguageMapOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsEmbededImagesEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsGitRepositoryEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructureOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsValidateRequiredField.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessor.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsAreaAndIterationProcessorOptions.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_EngineV1/Configuration/TfsTeamProjectConfig.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Enrichers/EmbededImagesRepairEnricher.cs
  src/MigrationTools/ProcessorEnrichers/PauseAfterEachItem.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/AppendMigrationToolSignatureFooter.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/FilterWorkItemsThatAlreadyExistInTarget.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/SkipToFinalRevisedWorkItemType.cs
  src/MigrationTools/ProcessorEnrichers/WorkItemProcessorEnrichers/WorkItemProcessorEnricher.cs
  src/MigrationTools/_EngineV1/Enrichers/EmbededImagesRepairEnricherBase.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/WorkItemMigrationContext.cs
Owners: @mrhinsh, docs@example.com

AzureDevOps Pipeline Processor: Task- and Variable Groups (#792)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  docs/Reference/Generated/MigrationTools.xml
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.json
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.md
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
  src/MigrationTools/DataContracts/Mapping.cs
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/ReleaseDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/TaskGroups.cs
  src/MigrationTools/DataContracts/Pipelines/VariableGroups.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
  src/MigrationTools/Tests/TestingConstants.cs
Owners: @mrhinsh

Public preview of Pipleines (#793)
  README.md
  docs/index.md
  src/MigrationTools.Extension/README.md
Owners: @mrhinsh, docs@example.com

Add TfsAreaAndIterationProcessor (#796)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ServiceCollectionExtensions.cs
Owners: @mrhinsh

Fix Build Definition Model (#797)
  src/MigrationTools/DataContracts/Pipelines/BuildDefinitions.cs
Owners: @mrhinsh

Filter null reflected work item ids when filtering existing work items (#799)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/_Enginev1/Clients/TfsWorkItemMigrationClient.cs
Owners: @mrhinsh

Parsing commandline options earlier (#810)
  src/MigrationTools.ConsoleCore/Program.cs
  src/MigrationTools.ConsoleFull/Program.cs
  src/MigrationTools.Host/ExecuteHostedService.cs
  src/MigrationTools.Host/HostExtensions.cs
  src/MigrationTools.Host/InitHostedService.cs
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/Options/NetworkCredentialsOptions.cs
Owners: @mrhinsh, @ovebastiansen

working configuration2.json setup (#812)
  configuration2.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
  src/MigrationTools/EndPoints/EndpointOptions.cs
  src/MigrationTools/EndPoints/IEndpointOptions.cs
  src/MigrationTools/Options/IOptions.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
Owners: @mrhinsh

Feature/ioptions config (#813)
  src/MigrationTools.ConsoleFull/Properties/launchSettings.json
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools.TestExtensions/ServiceCollectionExtensions.cs
  src/MigrationTools.Tests/Core/Configuration/EngineConfigurationBuilderTests.cs
  src/MigrationTools.Tests/Core/Configuration/EngineConfigurationTests.cs
  src/MigrationTools.Tests/Core/Engine/Containers/FieldMapContainerTests.cs
  src/MigrationTools.Tests/Core/Engine/Containers/ProcessorContainerTests.cs
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/IMigrationEngine.cs
  src/MigrationTools/MigrationEngine.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfiguration.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
  src/MigrationTools/_EngineV1/Containers/ChangeSetMappingContainer.cs
  src/MigrationTools/_EngineV1/Containers/EngineContainer.cs
  src/MigrationTools/_EngineV1/Containers/FieldMapContainer.cs
  src/MigrationTools/_EngineV1/Containers/GitRepoMapContainer.cs
  src/MigrationTools/_EngineV1/Containers/ProcessorContainer.cs
  src/MigrationTools/_EngineV1/Containers/TypeDefinitionMapContainer.cs
  src/VstsSyncMigrator.Core.Tests/EngineConfigurationTests.cs
  src/VstsSyncMigrator.Core.Tests/MigrationEngineTests.cs
Owners: @mrhinsh, @ovebastiansen

endpoint folder rename (#818)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Endpoints/TfsWorkItemEndpointOptions.cs
  src/MigrationTools/Endpoints/AuthenticationMode.cs
  src/MigrationTools/Endpoints/Endpoint.cs
  src/MigrationTools/Endpoints/EndpointContainer.cs
  src/MigrationTools/Endpoints/EndpointOptions.cs
  src/MigrationTools/Endpoints/IEndpoint.cs
  src/MigrationTools/Endpoints/IEndpointOptions.cs
  src/MigrationTools/Endpoints/IWorkItemEndpoint.cs
  src/MigrationTools/Endpoints/IWorkItemQuery.cs
  src/MigrationTools/Endpoints/RefEndpointOptions.cs
Owners: @mrhinsh

Update youtube video link (#817)
  README.md
Owners: @mrhinsh

Bugfix/initoptions not working (#827)
  src/MigrationTools.Host/MigrationToolHost.cs
  src/MigrationTools/_EngineV1/Configuration/EngineConfigurationBuilder.cs
Owners: @ovebastiansen, @mrhinsh

Feature/service connection migration (#822)
  docs/Reference/Endpoints/AzureDevOpsEndpoint.md
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.json
  docs/Reference/Processors/AzureDevOpsPipelineProcessor.md
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessorOptions.cs
  src/MigrationTools/DataContracts/Pipelines/ServiceConnection.cs
  src/MigrationTools/DataContracts/RestApiDefinition.cs
  src/MigrationTools/MigrationTools.csproj
Owners: @mrhinsh

Don't crash on unrecognized resource link (#826)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Enrichers/TfsWorkItemLinkEnricher.cs
Owners: @mrhinsh

pipeline processor, tweeks to get my release def migration to work (#832)
  docs/Reference/Generated/MigrationTools.Clients.AzureDevops.Rest.xml
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
  src/MigrationTools/DataContracts/Mapping.cs
  src/MigrationTools/DataContracts/Pipelines/DeploymentGroup.cs
  src/MigrationTools/DataContracts/Pipelines/ReleaseDefinitions.cs
  src/MigrationTools/DataContracts/Pipelines/TaskAgentPool.cs
  src/MigrationTools/DataContracts/Pipelines/VariableGroups.cs
Owners: @mrhinsh

Update sample JSON configuration (#859)
  docs/Reference/Processors/TfsTeamSettingsProcessor.json
Owners: @mrhinsh

Update example JSON (#860)
  docs/Reference/Processors/TfsTeamSettingsProcessor.md
Owners: @mrhinsh

fixing TfsSharedQueryProcessor example (#873)
  docs/Reference/Processors/TfsSharedQueryProcessor.md
Owners: @mrhinsh

Update TfsSharedQueryProcessor.cs (#880)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/Processors/TfsSharedQueryProcessor.cs
Owners: @mrhinsh

Fix TfsSharedQueryProcessor link and typo (#874)
  docs/index.md
Owners: docs@example.com

Updated logging as mismatch between LogError and old method. (#881)
  src/MigrationTools.Extension/README.md
  src/MigrationTools.Extension/vss-extension.json
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

852-SaveNewTestSuiteToPlan-Active (#883)
  configuration.json
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/Endpoints/TfsWorkItemEndPointTests.cs
  src/MigrationTools.Clients.AzureDevops.ObjectModel.Tests/MigrationTools.Clients.AzureDevops.ObjectModel.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.ObjectModel/MigrationTools.Clients.AzureDevops.ObjectModel.csproj
  src/MigrationTools.Clients.AzureDevops.Rest.Tests/MigrationTools.Clients.AzureDevops.Rest.Tests.csproj
  src/MigrationTools.Clients.AzureDevops.Rest/MigrationTools.Clients.AzureDevops.Rest.csproj
  src/MigrationTools.Clients.FileSystem.Tests/MigrationTools.Clients.FileSystem.Tests.csproj
  src/MigrationTools.Clients.InMemory.Tests/MigrationTools.Clients.InMemory.Tests.csproj
  src/MigrationTools.Host.Tests/MigrationTools.Host.Tests.csproj
  src/MigrationTools.Host/MigrationTools.Host.csproj
  src/MigrationTools.Integration.Tests/MigrationTools.Integration.Tests.csproj
  src/MigrationTools.TestExtensions/MigrationTools.TestExtensions.csproj
  src/MigrationTools.Tests/MigrationTools.Tests.csproj
  src/MigrationTools/MigrationTools.csproj
  src/MigrationTools/Tests/TestingConstants.cs
  src/VstsSyncMigrator.Core.Tests/VstsSyncMigrator.Core.Tests.csproj
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
  src/VstsSyncMigrator.Core/VstsSyncMigrator.Core.csproj
Owners: @mrhinsh, @ovebastiansen

fix when project name includes treeType (#884)
  src/MigrationTools.Clients.AzureDevops.ObjectModel/ProcessorEnrichers/TfsNodeStructure.cs
Owners: @mrhinsh

TestPlansAndSuitesMigrationContext Fix for Invalid States (#892)
  configuration.json
  src/MigrationTools/Tests/TestingConstants.cs
  src/VstsSyncMigrator.Core/Execution/MigrationContext/TestPlansAndSuitesMigrationContext.cs
Owners: @mrhinsh

Fix PipelineProcessor (#887)
  src/MigrationTools.Clients.AzureDevops.Rest/Endpoints/AzureDevOpsEndpoint.cs
  src/MigrationTools.Clients.AzureDevops.Rest/Processors/AzureDevOpsPipelineProcessor.cs
Owners: @mrhinsh

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# General Owners [Martin Hinshelwood]
*       @mrhinsh

# The Hosting System [Ove Bastiansen]
src/MigrationTools.Host/* @ovebastiansen
src/MigrationTools.Host.Tests/* @ovebastiansen
src/MigrationTools/*HostedService.cs @ovebastiansen

# You can also use email addresses if you prefer.
docs/*  docs@example.com
